
# Build results
bin/
obj/
Debug/
Release/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
packages/
*.nuspec

# Entity Framework
*.db
*.ldb
*.mdf
*.ldf
Migrations/

# Logs
*.log

# Resharper
_ReSharper*/
*.DotSettings.user

# Rider
.idea/

# Windows image thumbnails
Thumbs.db
ehthumbs.db

# User-specific files
*.user
*.rsuser

# Other
*.cache
*.pdb
*.tmp
*.bak
*.swp
*.DS_Store
